* {
    padding: 0;
    margin: 0;
} 

body {
    color: #494949;
	font: 12px/170% Verdana,sans-serif;;
	line-height: 1.5em; 
}
a {
	color: #3B6EBF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#wrap {
	margin: 20px auto;
	background-repeat: repeat-y;
	background-color: #fff;
}

#top {
	height: 30px;
	background-color: #fff;
}

#content {
    margin: 0 40px 0 40px;
    border:2px solid #AEBC92;
}

#bottom {
	height: 30px;
	background-color: #fff;
}


.header {
	height: 80px;
	background-color: #9FCC41;
	background-image: url(images/header_bg.gif);
	width: auto;
}

.header h1 { padding-left: 17px; padding-top: 22px; font-size: 22px; color: #FFF; }
.header h1 a { font-size: 22px; color: #FFF; text-decoration: none;}
.header h2 { padding-left: 17px; padding-top: 0px; font-size: 17px; color: #FFF; }

.breadcrumbs {
	border-bottom: 1px solid #E1E1E1;
	padding: 5px;
	background-color: #7AA02C;
	color: #FFF;
}
	
.middle {
	/*float: left;*/
	width: auto;
	margin: 0px 230px 0px 10px;
	padding: 1% 1%;
	text-align: justify;
}

#right {
	float: right;
	width: 210px;
	margin: 0 10px;
	padding: 1% 1%;
	background-image: url(images/right_background_deco.gif);
	background-repeat: no-repeat;
	background-position: right;
	
}

#right ul {
	padding: 20px 0 15px 20px;
	margin:0;
	list-style-type: circle;
}

#right li {
	margin-bottom:5px;
	list-style-type: square;
	color: #3B6EBF;
}

.middle h2 {
	color: #030;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#right h2 {
	color: #030;
	font-size: 14px;
	margin-top: 15px;
}


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#footer {
	text-align: center;
	color: #666;
}
